@import '~bootstrap/dist/css/bootstrap.css';

body {
  display: flex;
}

label {
  color: black;
}

.main {
  background-color: white;
}

.mt-2.mb-0 {
  color: gray;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
