@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: #1b4f72;
  display: flexbox;
}

.form-inline {
  margin-top: 20vw;
}

.sr-only {
  visibility: hidden;
}

.btn.btn-primary.mb-2 {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}
