@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: #1b4f72;
  display: flex;
}

label {
  color: black;
}

.mt-2.mb-0 {
  color: gray;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
